<!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="top-bar-left">
                            <a href="/pouye">
                            <div class="text">
                                <i class="fa fa-user-alt"></i>
                                <p>Qui est Daby POUYE</p>
                            </div>
                            </a>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-bar-right">
                            <a href="/actualites">
                            <div class="text">
                                <i class="fa fa-newspaper"></i>
                                <p>Actualités du Mouvement Sopp Sénégal</p>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->