<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mouvement sopp senegal</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    {{!-- <link href="" rel="icon"> --}}
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="assets/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
    {{>top-bar}}
    {{>nav}}
    {{{body}}}
    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-contact">
                        <h2>Notre siège social</h2>
                        <p><i class="fa fa-map-marker-alt"></i>123 rue, DAKAR, SÉNÉGAL</p>
                        <p><i class="fa fa-phone-alt"></i>+221 77 000 00 00</p>
                        <p><i class="fa fa-envelope"></i> msoppsenegal@gmail.com</p>
                        <div class="footer-social">
                            <a class="btn btn-custom" href="https://twitter.com/msoppsenegal?s=11&t=Z45oNchAJlr-crk2GnsWyA"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-custom" href="https://www.facebook.com/groups/548526710022487/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-custom" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-custom" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-custom" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Liens populaires</h2>
                        <a href="">À propos de nous</a>
                        <a href="">Nous contacter</a>
                        <a href="">Causes populaires</a>
                        <a href="">Événement à venirs</a>
                        <a href="">Dernier blog</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Liens utiles</h2>
                        <a href="">Conditions d'utilisation</a>
                        <a href="">Politique de confidentialité</a>
                        <a href="">Cookies</a>
                        <a href="">Aider</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-newsletter">
                        <h2>Newsletter</h2>
                        <form>
                            <input class="form-control" placeholder="renseigner votre eamil">
                            <button class="btn btn-custom">Envoyer</button>
                            <label>Ne vous inquiétez pas, nous ne spammons pas!</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="#">diikaanedev</a>, All Right Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Designed By <a href="#">BIB</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to top button -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Pre Loader -->
    {{!-- <div id="loader" class="show">
        <div class="loader"></div>
    </div> --}}

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="assets/lib/easing/easing.min.js"></script>
    <script src="assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="assets/lib/waypoints/waypoints.min.js"></script>
    <script src="assets/lib/counterup/counterup.min.js"></script>
    <script src="assets/lib/parallax/parallax.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="assets/mail/jqBootstrapValidation.min.js"></script>
    <script src="assets/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="assets/js/main.js"></script>
</body>

</html>