
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Qui sommes nous</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Acceuil</a>
                        <a href="">Qui sommes nous</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        

       

<!-- Service Start -->
<div class="service" id="qui-somme-nous">
  
  <div class="container-fluid">
    <div class="section-header text-center">
      <h2> QUI SOMMES NOUS</h2>
    </div>
    <h4>ON PARTAGE TOUS LES MÊMES CONSTATS</h4>
    <br>
    <p>
      -Le Sénégal est un pays riche aux compétences incontestables ;
    </p>
    <p>- Le Sénégal a réussi à instaurer une transition démocratique à la hauteur de nos valeurs de partage et de
      Téranga</p>
    <p>-Il s’agit aujourd’hui de renforcer l’État-nation et de mettre en place une véritable déconcentration/
      décentralisation du pouvoir sous le contrôle du citoyen</p>
    <br>
    <p>
    <div>

    </div>
    Le Mouvement Sopp Sénégal est une organisation politique sénégalaise qui met l’accent sur les quatre éléments
    indissociables suivant : La création d’entreprises nationales motrices capables de faire face à la concurrence
    internationale ; le renforcement de l’État-nation, une décentralisation du pouvoir pour favoriser une gestion de
    proximité et le renforcement du pouvoir du citoyen.
    </p>
    <p>
      LES PRINCIPALES ÉTAPES DE LA TRANSFORMATION AU SERVICE D’UN SÉNÉGAL NOUVEAU
    </p>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          {{!-- <div class="service-icon">
            <i class="flaticon-diet"></i>
          </div> --}}
          <div class="service-text">
            <h3>Vision</h3>
            <p> Le Sénégal, un havre de santé et de bien-être pour
              le Sénégalais et l’Afrique</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          {{!-- <div class="service-icon">
            <i class="flaticon-water"></i>
          </div> --}}
          <div class="service-text">
            <h3>Une Mission</h3>
            <p>Assurer la santé et le bien-être des Sénégalais par la puissance des technologies et l’innovation</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          {{!-- <div class="service-icon">
            <i class="flaticon-healthcare"></i>
          </div> --}}
          <div class="service-text">
            <h3>Un Programme</h3>
            <p>Une réalisation progressive et cohérente au service de la vision</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          {{!-- <div class="service-icon">
            <i class="flaticon-education"></i>
          </div> --}}
          <div class="service-text">
            {{!-- <h3>Education</h3> --}}
            <p>Le renforcement d’État-nation au service de tous</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">

          <div class="service-text">
            {{!-- <h3>Résidence</h3> --}}
            <p>Une décentralisation du pouvoir</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">

          <div class="service-text">
            {{!-- <h3>Social</h3> --}}
            <p>Un contrôle citoyen effectif</p>
          </div>
        </div>
      </div>

    </div>
    <p>Le Mouvement Sopp Sénégal pour assurer une vraie transformation économique, sociétale et écologique du Sénégal.
      Un Sénégal nouveau, une Afrique forte.</p>
    <p> De la nécessité de se départir des Plans sectoriels comme promus par le Plan Sénégal Émergent pour adopter une
      Vision Sénégal 2054.
    <h4>Poser les fondements de la transformation du Sénégal</h4>
    Les piliers : <br>
    - Valorisation de nos ressources humaines par une formation d’excellence :
    Création de 14 universités d’excellence ancrées chacune sur les spécificités du bassin d’implantation ;<br>
    - Une politique de santé audacieuse devant déboucher sur la création d’un CHR dans chacune des quatorze régions du
    Sénégal avec les technologies de pointe. <br>
    - Création de 14 grandes entreprises à dimension internationale agissant chacune comme locomotive et levier de
    valorisation des ressources de la région d’implantation. <br>
    - Une politique du logement inclusive permettant aux sénégalais d’accéder à un logement décent à un prix en
    rapport avec le pouvoir d’achat.</p>
    <h1 class="text-center">COMMENT Daby POUYE
      COMPTE FAIRE POUR
      UN SÉNÉGAL NOUVEAU
      DANS UNE AFRIQUE
      FORTE ? </h1>
    <p>
      La construction d’un autre Sénégal passe par un projet d’avenir porté par des hommes et des femmes au service d’un
      développement harmonieux et pérenne prenant en compte tous les éléments de l’écosystème.
      Un autre Sénégal ne peut se concevoir sans son intégration dans une autre Afrique.
      Ensemble, il s’agit de construire notre destin.
      Alors soyons tous acteurs en contribuant à la construction de cet autre Sénégal avec des hommes et des femmes au
      service du pays.
    </p>
  </div>
</div>
<!-- Service End -->
    

       