<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Actualités</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Blog Start -->
<div class="blog">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h2>Dernières articles </h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/img/dabakh.webp" alt="Image">
                    </div>
                    <div class="blog-text">
                        <h3><a href="/actualites/1">LA VIE D’ABORD !</a></h3>
                        <p>
                            La vie d’abord !
                            L’incendie à l’hôpital Mame Abdoul Aziz SY Dabakh : « une tragédie de trop » révélatrice de
                            la carence du système de santé public sénégalais.
                        </p>
                    </div>
                    <div class="blog-meta">
                        <p><i class="fa fa-eye"></i><a href="/actualites/1">Voir</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/img/legislative.jpeg" alt="Image">
                    </div>
                    <div class="blog-text">
                        <h3><a href="/actualites/2">LA VIE D’ABORD !</a></h3>
                        <p>
                            ÉLECTIONS LÉGISLATIVES – 31 JUILLET 2022
                            Le parrainage, un choix (anti)démocratique ou le RDV manqué des deux principales coalitions.

                        </p>
                    </div>
                    <div class="blog-meta">
                        <p><i class="fa fa-eye"></i><a href="/actualites/2">Voir</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/img/pouye13.jpeg" alt="Image">
                    </div>
                    <div class="blog-text">
                        <h3><a href="/actualites/3">LA VIE D’ABORD !</a></h3>
                        <p>
                            L’appel à la responsabilisation des leaders politiques et au devoir d’exemplarité : La
                            guerre des images. Et le Sénégal dans tout ça ?
                        </p>
                    </div>
                    <div class="blog-meta">
                        <p><i class="fa fa-eye"></i><a href="/actualites/3">Voir</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/img/Marche-de-protestation-du-Cu3sp-Fippu-Jotna.jpeg" alt="Image">
                    </div>
                    <div class="blog-text">
                        <h3><a href="/actualites/4">LA VIE D’ABORD !</a></h3>
                        <p>
                          La corruption et la mal-gouvernance ne sont ni une fatalité ni une spécificité africaine.
                        </p>
                    </div>
                    <div class="blog-meta">
                        <p><i class="fa fa-eye"></i><a href="/actualites/4">Voir</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/img/post5-1.jpeg"  alt="Image">
                    </div>
                    <div class="blog-text">
                        <h3><a href="/actualites/5">LA VIE D’ABORD !</a></h3>
                        <p>
                         On ne gagne pas une guerre avec les soldats des autres.
                        </p>
                    </div>
                    <div class="blog-meta">
                        <p><i class="fa fa-eye"></i><a href="/actualites/5">Voir</a></p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Blog End -->