 <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>DONNATIONS</h2>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- Page Header End -->
<!-- Donate Start -->
<div class="donate" id="donne">
 
  <div class="container-fluid">
    <br>
    <br>
    <div class="row align-items-center">
      
      <div class="col-lg-12">
        <div class="donate-form">
          <form>
            <div class="control-group">
              <input type="text" class="form-control" placeholder="Nom" required="required" />
            </div>
            <div class="control-group">
              <input type="email" class="form-control" placeholder="Email" required="required" />
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-custom active">
                <input type="radio" name="options" checked> 1000 FCFA
              </label>
              <label class="btn btn-custom">
                <input type="radio" name="options"> 2000 FCFA
              </label>
              <label class="btn btn-custom">
                <input type="radio" name="options"> 3000 FCFA
              </label>
            </div>
            <div>
              <button class="btn btn-custom" type="submit">Faire un don maintenant</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
<!-- Donate End -->