
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Le mouvement</h2>
                    </div>
                
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Service Start -->
        <div class="service">
            <div class="container-fluid">
                <div class="section-header text-center">
                    <h3>QU’EST-CE QUE Le Mouvement Sopp Sénégal ?</h3>
                    
                </div>
                <p>Le Mouvement Sopp Sénégal est une organisation politique sénégalaise qui met l’accent sur les quatre éléments indissociables suivant : La création d’entreprises nationales motrices capables de faire face à la concurrence internationale ; le renforcement de l’État-nation, une décentralisation du pouvoir pour favoriser une gestion de proximité et le renforcement du pouvoir du citoyen.</p>
                <h4 style="color: black;">LES PRINCIPALES ÉTAPES DE LA TRANSFORMATION AU SERVICE D’UN SÉNÉGAL NOUVEAU</h4><br>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            
                            <div class="service-text">
                                <h3>Une Vision</h3>
                                <p style="font-size: 12px;">LES PRINCIPALES ÉTAPES DE LA TRANSFORMATION AU SERVICE D’UN SÉNÉGAL NOUVEAU</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                           
                            <div class="service-text">
                                <h3>Une Mission</h3>
                                <p style="font-size: 12px;">Assurer la santé et le bien-être des Sénégalais par la puissance des technologies et l’innovation</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                           
                            <div class="service-text">
                                <h3>Un Programme</h3>
                                <p style="font-size: 12px;">Une réalisation progressive et cohérente au service de la vision</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <h4 style="color: black;">Pour que la vie de chaque sénégalais compte tout autant que celle des autres</h4><br>
                    
                 <div class="row">
                   <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            
                            <div class="service-text">
                                <p>Le renforcement d’État-nation au service de tous</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-text">
                                <p>Une décentralisation du pouvoir</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-text">
                                <p>Un contrôle citoyen effectif</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Service End -->
        


                    