<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Partagez </h2>
            </div>

        </div>
    </div>
</div>
<!-- Page Header End -->




<!-- Blog Start -->
<div class="blog">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h2>OBJECTIF 1</h2>
            <h6 style="font-size: 14px;">Diffusons le plaidoyer pour Un Sénégal Nouveau dans une Afrique Forte de Dr
                Daby POUYE</h6>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <a href="https://twitter.com/pouye_daby/status/1547921950227324930?t=QrKXI4q1-F1KbZbeNx7aBg&s=04&fbclid=IwAR1QbZy7Y7b4_9eehYpNunagk8OqdPMXgXX493ZB9W_OOV5x0gmx2lZmsYw"
                            target="_blank"><img src="assets/img/pouye17.jpeg" height="400px" alt="Image"></a>
                    </div>


                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <a href="https://www.youtube.com/watch?v=wIY4p1P8pag" target="_blank"> <img
                                src="assets/img/pouye23.jpeg" height="400px" alt="Image"></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <a href="https://www.facebook.com/groups/548526710022487/permalink/615634626645028" target="_blank"> <img
                                src="assets/img/pouye10.jpeg" height="400px" alt="Image"></a>
                    </div>

                </div>
            </div>


        </div>
        <br>
        <div class="section-header text-center">
            <h2>OBJECTIF 2</h2>
            <h6 style="font-size: 14px;">Diffusons le programme de Dr Daby POUYE que tout citoyen devrait connaître et

                que tout candidat devrait reprendre</h6>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-item">
                    <div class="blog-img">
                        <a href="https://www.youtube.com/watch?v=SU3uur6dpMo"
                            target="_blank"><img src="assets/img/pouye5.jpeg" height="600px" alt="Image"></a>
                    </div>


                </div>
            </div>
            


        </div>
        <br>
        <div class="section-header text-center">
            <h2>OBJECTIF 3</h2>
            <h6 style="font-size: 14px;">Diffusons l’affiche de campagne de Dr Daby POUYE</h6>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <a href="https://twitter.com/pouye_daby/status/1547921950227324930?t=QrKXI4q1-F1KbZbeNx7aBg&s=04&fbclid=IwAR1QbZy7Y7b4_9eehYpNunagk8OqdPMXgXX493ZB9W_OOV5x0gmx2lZmsYw"
                            target="_blank"><img src="assets/img/Flyer présidentiel SOPP SÉNÉGAL_page.jpg" height="700px" alt="Image"></a>
                    </div>


                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <a href="https://www.youtube.com/watch?v=wIY4p1P8pag" target="_blank"> <img
                                src="assets/img/Autocollant président_page.jpg" height="700px" alt="Image"></a>
                    </div>

                </div>
            </div>
            


        </div>

    </div>
</div>
<!-- Blog End -->