 <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Participer</h2>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        <h3 class="container-fluid">
            Ces questions permettront à l'équipe de vous recontacter et de vous impliquer. Dans l'équipe,
cette implication dépendra de vos disponibilités et de vos moyens. Nous serions ravis de vous
y accueillir.
Les informations sont envoyées au secrétariat général. <br> Pour tout contact : Tél. : +221 77 399 14 42 contact@sopp-senegal.com
        </h3>
        
        <!-- Volunteer Start -->
        <div class="container">
            <div class="volunteer" data-parallax="scroll" data-image-src="img/volunteer.jpg">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="volunteer-form">
                            <form>
                                
                                <div class="control-group">
                                    <select name="activte"  class="form-control" id="activite">
                                        <option value="Rechercher des parrainages">Rechercher des parrainages</option>
                                        <option value="Contacter les médias">Contacter les médias</option>
                                        <option value="Former des partenariats (avec d'autres candidats, avec des groupes et associations qui ont la même vision que le Mouvement Sopp Sénégal)">Former des partenariats (avec d'autres candidats, avec des groupes et associations qui ont la même vision que le Mouvement Sopp Sénégal)</option>
                                        <option value="Aider à la diffusion sur les réseaux sociaux">Aider à la diffusion sur les réseaux sociaux</option>
                                        <option value="Concevoir des communications (monter des vidéos, rédiger du contenu...)">Concevoir des communications (monter des vidéos, rédiger du contenu...)</option>
                                        <option value="Organiser des actions de terrain, recruter et impliquer des volontaires">Organiser des actions de terrain, recruter et impliquer des volontaires</option>
                                        <option value="Participer à la collecte de dons">Participer à la collecte de dons</option>
                                        <option value="Je ne sais pas (pour l'instant)">Je ne sais pas (pour l'instant)</option>
                                        <option value="Autre">Autre</option>
                                    </select>
                                </div>


                                <div class="control-group">
                                    <input type="text" class="form-control" placeholder="Prénom  et nom complet " required="required" />
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" placeholder="Email" required="required" />
                                </div>
                                <div class="control-group">
                                    <input type="text" class="form-control" placeholder=" Votre département, commune, village ?" required="required" />
                                </div>
                                <div class="control-group">
                                    <textarea class="form-control" placeholder="Comment avez-vous découvert notre mouvement ?" required="required"></textarea>
                                </div>
                                <div class="control-group">
                                    <select name="activte"  class="form-control" id="activite">
                                        <option value="Souhaitez-vous contribuer à la recherche de parrainage">Souhaitez-vous contribuer à la recherche de parrainage</option>
                                        <option value="Oui">Oui</option>
                                        <option value="Non">Non</option>
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-custom" type="submit">Devenir un participant</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="volunteer-content">
                            <div class="section-header">
                                <p>Devenir un participant</p>
                                <h2>RENDEZ-VOUS OUVERT AUX VOLONT AIRES Tous les MARDIS À 20 H 30</h2>
                            </div>
                            <div class="volunteer-text">
                                <p>
                                    Les rencontres se déroulent sur WhatsApp Nous serons heureux de vous rencontrer et d’échanger avec vous : merci de remplir le formulaire suivant.
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Volunteer End -->