 <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>A propos</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
<!-- About Start -->
<div class="about"  id="a-propos">
  <div class="container" >
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-img" data-parallax="scroll" data-image-src="assets/img/pouye19.jpeg"></div>
      </div>
      <div class="col-lg-6">
        <div class="section-header">
          <p>En savoir plus sur</p>
          <h2>Monsieur Daby POUYE</h2>
        </div>
        <div class="about-tab">
          <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#tab-content-1"> Pourquoi moi ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#tab-content-2">Engagement</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#tab-content-3">Vision</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="tab-content-1" class="container tab-pane active">

              Docteur en Sciences de Gestion Spécialité Prospective, Innovation, Stratégie, Organisation au
              Conservatoire National des Arts et Métiers de Paris (CNAM Paris)
              Je ne me suis jamais investi politiquement en Afrique. Après des études secondaires au Sénégal, comme
              beaucoup d’africains face à une insuffisante offre universitaire nationale, je suis venu faire mes études
              universitaires en France. À la fin de mes études supérieures couronnées par un doctorat en Sciences de
              gestion et en l’absence d’un accompagnement de nos États pour une meilleure utilisation de nos compétences
              au service de nos pays - qui en ont pourtant tant besoin - je me suis orienté vers le marché du travail en
              France qui m’offrait plus d’opportunités et de sécurité.
              Tout individu est à la recherche d’une certaine stabilité sociale. Comme la plupart des africains de
              l’époque mais aussi les africains d’aujourd’hui, nous étions et sommes toujours à la recherche d’une
              situation permettant la valorisation de nos compétences. Il me faut cependant insister sur un point :
              cette logique n’est pas propre aux africains mais est propre à toute personne désireuse de s’accomplir et
              de donner un sens à sa vie.
            </div>
            <div id="tab-content-2" class="container tab-pane fade">
              Mon engagement s’explique par mon amour pour le Sénégal et pour l’Afrique. Je ne peux me résoudre à ce que
              notre pays le Sénégal et notre continent l’Afrique ne puissent pas avoir le contrôle de leurs ressources
              humaines et naturelles.
              Notre pays ne se construira pas sans une vision et des hommes et femmes de valeurs au service de notre
              nation et capables de susciter l’adhésion du peuple.
              Je suis un homme libre qui croit que nous ne pouvons nous développer sans nous appuyer sur nos valeurs
              ancestrales.
              Je suis un homme libre convaincu que nous devons construire un Sénégal décomplexé.
              Je suis un homme libre persuadé que pour faire du Sénégal une puissance économique, nous devrons nous
              appuyer sur une jeunesse éduquée, formée qui sera capable d’être notre fer de lance.
              Je suis un homme libre qui n’accepte plus que nos enfants meurent dans l’indifférence totale et voulant
              aller chercher ailleurs ce que notre nation est incapable de leur donner.
              Je suis un homme libre qui refuse de voir des jeunes, des hommes et des femmes sans aucune perspective
              dans leur pays.
              Je suis un homme libre qui ne tolère plus que nos compatriotes soient victimes de discrimination au niveau
              international.
              Je suis un homme libre désireux de permettre que chaque sénégalais en âge de travailler puisse vivre de
              son travail et avoir un habitat décent.
              Je suis déterminé à aller jusqu’au bout pour redonner espoir et dignité au peuple sénégalais mais aussi à
              toute l’Afrique.
            </div>
            <div id="tab-content-3" class="container tab-pane fade">
              Offrir aux jeunes, notre fer de lance et notre force un avenir meilleur chez eux et faire du Sénégal une
              puissance économique dans un continent puissant.
              Nous avons les deux ressources qui font la puissance d’une nation et d’un continent : Les ressources
              humaines et les ressources naturelles. De notre capacité et de notre volonté à contrôler et valoriser ces
              ressources dépendra la construction d’un Sénégal économiquement puissant dans une Afrique indépendante.
              Le Sénégal, pour être une puissance économique devra s’appuyer sur les trois binômes suivants :
              • Contrôle totale et valorisation interne de nos Ressources Humaines et de nos Ressources naturelles ;
              • Assurer la Souveraineté sanitaire et la Souveraineté Alimentaire ;
              • Donner la priorité à la formation axée sur les Sciences et le Numérique
              C’est le triptyque qui fera du Sénégal ce qu’il est et doit devenir : une véritable puissance économique
              internationale au service des citoyens.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->