<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>NOTRE PROGRAMME</h2>
            </div>

        </div>
    </div>
</div>
<!-- Page Header End -->




<!-- About Start -->
<div class="about">
    <div class="ml-5 mr-5">
        <div class="row align-items-center">

            <div class="col-lg-12">
                <h3 class="mb-2">COMMENT Daby POUYE COMPTE FAIRE POUR UN SÉNÉGAL NOUVEAU DANS UNE AFRIQUE FORTE ?</h3>
                <p class="mb-5">La construction d’un autre Sénégal passe par un projet d’avenir porté par des hommes et
                    des femmes au service d’un développement harmonieux et pérenne prenant en compte tous les éléments
                    de l’écosystème.
                    Un autre Sénégal ne peut se concevoir sans son intégration dans une autre Afrique.
                    Ensemble, il s’agit de construire notre destin.
                    Alors soyons tous acteurs en contribuant à la construction de cet autre Sénégal avec des hommes et
                    des femmes au service du pays.</p>
                <div class="about-tab">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#vision">ÉCONOMIE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#mission">ÉCOLOGIE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#programme">POLITIQUE EXTÉRIEURE</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " data-toggle="pill" href="#renforcement">SÉCURITÉ ET CRIMINALITÉ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#decentralisation">FRACTURE SOCIALE ET
                                TERRITORIALE </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#controle">UNION AFRICAINE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#citoyen">RETRAITES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#energie">ÉNERGIE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#presidence">PRÉSIDENCE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#politique">POLITIQUE</a>
                        </li>
                    </ul>

                    <br>
                    <br>

                    <div class="tab-content">
                        <div id="vision" class="tab-pane active">
                            Une économie au service de la vision

                            Une économie au service d’un Sénégal nouveau dans une Afrique forte.

                            L’Afrique est l’un, sinon le continent le plus riche au monde et pourtant, il n’y a aucune
                            entreprise africaine dans les 100 premières entreprises mondiales.

                            Le système économique mondial, de nature plus conflictuelle que fonctionnelle, contrairement
                            aux prédictions des économistes classiques, ne permet pas le développement de l’Afrique.

                            Par ailleurs, en renforçant la « fonctionnarisation des élites sénégalaises, les
                            institutions internationales font perdurer un effet d’éviction extrêmement dommageable à
                            l’initiative privée et à la création de grandes entreprises capables de relever les défis
                            sénégalais.

                            Il ne peut y avoir de développement sans grandes entreprises et il ne peut y avoir de
                            grandes entreprises sans un partenariat public-privé (PPP).

                            Et il ne peut y avoir de PPP sans une vision politique et une volonté de la mettre en marche
                            dans une démarche de bonne gouvernance.

                            L’indépendance d’un pays passe d’abord par une indépendance économique

                            L’indépendance économique du Sénégal passera par une (ré)industrialisation verte ayant comme
                            base la préservation de la santé des sénégalais.

                            L’indépendance économique passera par la sauvegarde des commerces locaux, la valorisation de
                            nos ressources et par le développement des entreprises locales, leviers d’une croissance
                            durable.

                            L’indépendance économique du Sénégal est la condition sine qua non de son indépendance et
                            cette indépendance ne peut se concevoir sans celle de l’Afrique.

                            La souveraineté économique du Sénégal est le fruit d’un projet clair et ambitieux
                            définissant les conditions d’une économique prospère génératrice de croissance pérenne et
                            capable de faire naitre des fleurons industriels et commerciaux capables de conquérir les
                            marchés étrangers et de faire face aux entreprises étrangères.

                            Les rapports de force dans le commerce international et les choix industriels actuels de
                            notre pays ne permettent pas de faire émerger des entreprises nationales offensives.

                            Il s’agit d’instruire un projet d’investissement inscrit dans un temps long et dont
                            l’objectif est d’assurer la souveraineté économique et la préservation de la santé des
                            sénégalais.

                            L’engagement du Mouvement Sopp Sénégal pour faire du Sénégal une puissance économique aura
                            comme axe central la réalisation de la vision.

                            Nous définirons nos priorités industrielles en rapport avec notre vision, favoriser le
                            développement des grands axes de circulations autoroutiers et ferroviaires dans la plus
                            grande transparence et avec comme priorité la préservation des intérêts stratégiques du
                            Sénégal.

                            La souveraineté économique passe aussi par le développement contrôlé de l’industrie
                            pétrolière, par le soutien de l’agriculture locale, par l’exploitation contrôlée de nos
                            ressources naturelles et la recherche de débouchés commerciaux.

                            La souveraineté économique passera obligatoirement d’une part par un partenariat
                            public-privé (PPP) mais aussi et surtout par un partenariat privilégié avec l’Afrique.

                            Le développement économique d’un pays s’appuie sur l’existences d’entreprises nationales
                            motrices orientées vers la valorisation des ressources nationales et capables de faire face
                            à la concurrence internationale.
                        </div>
                        <div id="mission" class=" tab-pane fade">
                            L’écologie au service de la santé des sénégalais

                            L’écologie est un domaine transversal fondamental à la réalisation de la vision et s’inscrit
                            dans une dimension intersectorielle.

                            Le Mouvement Sopp Sénégal s’engage pour une écologie responsable qui privilégie une
                            production locale, une valorisation des ressources naturelles de proximité.

                            L’amélioration de la santé des sénégalais passe par de nos ressources, l’amélioration de la
                            qualité des eaux, de l’air, des sols et la diminution des sources de pollution.

                            Il ne peut y avoir de développement et préservation de la santé des sénégalais sans une base
                            écologique de respect de l’écosystème dans lequel nous évoluons.

                            Le développement ne peut s’appuyer sur une dépendance énergétique inacceptable, source, non
                            seulement de détérioration des conditions sanitaires à travers une explosion de la
                            pollution, mais aussi de baisse drastique du pouvoir d’achat. Il faut favoriser par une
                            politique fiscale incitative l’utilisation et la valorisation des ressources de proximité,
                            interdire les emballages en plastique, développer une énergie propre sous contrôle citoyen.
                            Il s’agit aussi de partir de notre dividende démographique pour développer des solutions de
                            mobilité plus propre adaptée à notre population.

                            L’écologie maintenant, c’est la croissance durable

                            L’écologie maintenant, c’est un logement décent et sain et à la portée de tous,

                            L’écologie maintenant, c’est plus de justice sociale.

                            L’écologie maintenant, c’est la prise en compte de la biodiversité

                            L’écologie maintenant, c’est la lutte contre toutes les formes d’inégalités

                            L’écologie maintenant, c’est réduire la facture énergétique

                            L’écologie maintenant, c’est le soutien des jeunes et des femmes,

                            L’écologie maintenant, c’est mettre en œuvre des projets axés sur les filières d’avenir
                            respectueuses de l’écosystème,

                            L’écologie maintenant, c’est une alimentation saine

                            L’écologie maintenant, c’est l’accès à la santé pour tous,
                        </div>
                        <div id="programme" class="tab-pane fade">
                            Créer et affirmer une politique extérieure crédible dans l’intérêt du Sénégal et de
                            l’Afrique.

                            Parler de façon isolée face à l’Europe, l’Amérique, la Russie ou encore la Chine tout en
                            ayant aucun poids et aucun moyen de pression n’est ni tenable, ni acceptable à l’heure
                            actuelle. Il est temps de mettre en place une politique extérieure en concertation avec les
                            autres pays africains et considérer nos partenaires européens non pas comme des amis mais
                            comme des alliés.



                            Quelle est la crédibilité d’un pays qui négocie avec l’occident tout en étant en situation
                            de dépendance ? Comment s’affirmer sur la scène internationale tout en étant pas capable
                            d’assurer la sécurité de nos frontières et tout en sollicitant une « aide permanente de
                            l’Occident » ? Notre crédibilité dépend de notre capacité à assurer la stabilité de nos
                            territoires et d’une volonté de parler d’une même voix tout en plaçant les intérêts de
                            l’Afrique en avant et en toute transparence. Il s’agit de s’imposer dans les négociations
                            concernant les équilibres internationaux et imposer des solutions africaines « aux crises
                            africaines » qui ont souvent une origine extra-africaine.
                        </div>
                        <div id="renforcement" class="tab-pane fade">
                            Un État au service de la sécurité de tous, de toutes les sécurités.



                            Quelles réponses du Mouvement Sopp Sénégal face à l’insécurité et la criminalité ?



                            La première façon de garantir la sécurité de nos concitoyens, c’est de lutter contre toutes
                            les insécurités. Il s’agit de lutter contre l’insécurité sanitaire en permettant à nos
                            concitoyens de pouvoir bénéficier de soins de qualité ; de lutter contre l’insécurité
                            alimentaire grâce à une alimentation saine qui privilégie les ressources de proximité ; de
                            lutter contre l’insécurité sociale en apportant une réponse adaptée au chômage des jeunes,
                            au manque d’accompagnement des femmes et à la détresse de nos concitoyens face à une vie de
                            plus en plus en plus chère. Il s’agit de mettre en place les conditions d’une scolarisation
                            publique de qualité pour valoriser notre dividende démographique, de permettre aux femmes de
                            disposer de ressources indispensables à l’exercice de l’autonomie conjugale et enfin, par
                            une politique fiscale adéquate, de permettre l’accession à un logement décent et sain. Il
                            s’agit aussi de lutter contre l’insécurité écologique en favorisant le développement d’une
                            agriculture verte capable de faire face à une augmentation de la population.

                            Et de façon concomitante, il s’agit de mettre en place une police nationale crédible au
                            service de tous les citoyens et capable de s’appuyer sur les chefs locaux pour sécuriser le
                            territoire.
                        </div>
                        <div id="decentralisation" class="tab-pane fade">
                            Une harmonisation territoriale centrée sur la préservation de la santé des sénégalais.



                            Quelle solution le Mouvement Sopp Sénégal compte-t-il apporter pour résoudre la fracture
                            sociale et territoriale ?



                            Nous assistons aujourd’hui à une urbanisation galopante et inédite au Sénégal et plus
                            particulièrement à Dakar (96,5 % dans la région de Dakar et 15,1 % dans la région de
                            Kaffrine qui affiche le plus faible taux). Et en même temps, on est face à une croissance
                            des inégalités entre territoires avec des zones rurales complétement à l’abandon. La
                            solution réside dans le renforcement du pouvoir des communautés rurales et de leurs droits
                            politiques.

                            Tous les projets qui seront initiés se feront dans une logique de réduction de la fracture
                            sociale et territoriale.

                            Aussi entre la construction d’un tronçon Dakar Thiès et la construction d’une route
                            permettant à un village retiré d’avoir accès à une structure hospitalière, le choix est vite
                            fait. Il s’agit de permettre aux populations rurales d’avoir accès à des structures
                            hospitalières de qualité et de proximité.
                        </div>

                        <div id="controle" class="tab-pane fade">
                            Une politique africaine au service d’une Afrique forte indispensable à la construction
                            d’États-nations africains forts.



                            Le mouvement Sopp Sénégal privilégiera les intérêts de l’Afrique et prendra toutes les
                            mesures permettant le renforcement de l’Union africaine.



                            Les différents États africains se sont construits à l’image de ceux des anciens colons dans
                            le but de préserver les intérêts de ces derniers. La conséquence a été la soumission de nos
                            États à des institutions internationales qui ne permettaient pas le développement de
                            l’Afrique. Nous payons aujourd’hui les coûts de ces choix passés. Il s’agit aujourd’hui de
                            construire une union africaine des peuples avec des représentants soucieux de préserver
                            l’intérêt de l’Afrique dans toutes les négociations et qui s’inscrivent dans la redéfinition
                            des fondements des institutions pour une Afrique forte et actrice dans les relations
                            internationales.


                        </div>

                        <div id="citoyen" class="tab-pane fade">
                            Une solidarité intergénérationnelle à construire dans l’intérêt de tous les sénégalais



                            Comment le Mouvement Sopp Sénégal peut-il résoudre les problématiques relatives aux
                            retraites ?



                            Le taux d’activité des 60-64 ans au Sénégal est de 49,5 % en milieu rural contre 39,1 % en
                            milieu urbain. L’absence de pension de retraite ou une retraite dérisoire pour beaucoup
                            poussent les séniors à continuer une activité malgré eux.

                            Dans un pays où lequel le secteur non institutionnel et qui échappe au contrôle de l’État,
                            la poursuite d’une activité après 60 ans est plus une contrainte pour des personnes
                            désireuses de conserver un rôle social et de subvenir aux besoins de leurs familles. Le
                            choix est entre travailler jusqu’à la fin de sa vie ou bénéficier d’une assistance
                            familiale. Le droit au repos n’existe donc pas pour la majorité de la population.

                            Il s’agit d’accompagner et de favoriser le travail dans des secteurs institutionnels et de
                            développer une assurance-retraite adaptée à nos réalités.

                            Ensemble nous devons relever le défi de la retraite par une politique fiscale volontariste
                            et un partenariat public-privé adapté.


                        </div>
                        <div id="energie" class="tab-pane fade">
                            Le Mouvement Sopp Sénégal et la question de l’énergie ?



                            Le continent africain riche en sources d’énergie, fournit plus de 19 % de la production
                            mondiale de combustibles fossiles alors que sa population ne consomme que 3,2 % de l’énergie
                            primaire mondiale, ce qui est la consommation par habitant la plus faible par continent.

                            Il est temps de sortir de cette situation intenable issue de l’héritage colonial des
                            économies qui dépendent des exportations de ressources naturelles

                            Par ailleurs, l’Afrique fait partie des zones les plus impactées par le changement
                            climatique pour des raisons géographiques mais aussi et surtout à cause d’un manque de
                            vision sur les plans politiques et économiques.

                            Il s’agit de mettre l’accent sur une véritable politique qui devra déboucher sur un accès à
                            l’énergie pour tous et l’inscrire dans une démarche de développement durable.

                            À partir d’une vision, il s’agit de mettre en place une politique énergétique de long terme
                            qui va s’appuyer sur les énergies renouvelables qui sont en abondance chez nous et faire du
                            continent africain le centre mondial de production d’énergie verte. Nous mettrons en place
                            un nouveau modèle de développement durable avec un investissement adéquat, garant de notre
                            indépendance financière. Une énergie propre au service des entreprises, de l’agriculture et
                            qui mettra l’accent sur la préservation de la santé de nos habitants, sur un accès à
                            l’éducation et qui s’appuiera sur les nouvelles technologies. Un Sénégal nouveau, une
                            Afrique forte.


                        </div>
                        <div id="presidence" class="tab-pane fade">
                            UNE PRÉSIDENCE FORTE ET FÉDÉRATRICE AU SERVICE DE L’INTÉRÊT GÉNÉRAL ET GARANTE DE LA LIBERTÉ
                            DE
                            TOUS.

                            La faiblesse de l’État central s’explique aussi et surtout par une insuffisante couverture
                            de sa
                            présence sur le plan géographique. Il s’agit de développer un État inclusif, garant du
                            respect
                            de la constitution avec un Président arbitre et porteur d’une vision au service de
                            l’ensemble de
                            la population. Un État déconcentré, condition du renforcement du pouvoir central et donc de
                            sa
                            crédibilité tout en prenant en compte et le plus largement possible en compte l’intérêt de
                            tous
                            à travers une décentralisation voulue et en cohérence avec nos réalités.

                        </div>
                        <div id="politique" class="tab-pane fade">
                            LE POSITIONNEMENT POLITIQUE DU MOUVEMENT SOPP SÉNÉGAL

                            Le Sénégal est un et indivisible. Compte tenu de la situation et des formidables défis qui
                            nous attendent et qui nous permettra de faire de notre pays une véritable puissance
                            économique, nous nous devons de fédérer toutes les volontés désireuses de participer à la
                            construction de ce nouveau Sénégal. Nous sommes donc ouverts à tous avec la volonté de
                            dépasser les clivages gauche-droite déconnectés de nos réalités. La priorité aujourd’hui est
                            d’être uniquement au service de la population quelles que soient les convictions politiques
                            des uns et des autres.


                        </div>

                    </div>
                    <br><br>
                    <h5>PLUS QU’UN PROGRAMME, UNE VISION</h5>

                    Les différents plans et stratégies de développement proposés par les régimes précédents se sont
                    certes méthodologiquement fondés sur des analyses qui ressortent les aspirations des populations,
                    mais n’ont pas fait de modélisation ou des projections pour caractériser les objectifs généraux et
                    sectoriels, afin de ressortir les indicateurs clés de développement avec des cibles claires sur des
                    phases successives. Ainsi, malgré les efforts de définition d’une vision Sénégal émergent à
                    l’horizon 2035, la mise en œuvre se trouve confrontée à des difficultés de cohérence qui ne
                    permettent pas une pleine exécution et l’atteinte des changements escomptés en 2035. En effet, le
                    large spectre optionnel de la Vision Plan Sénégal Émergent 2035 pose les germes d’une mise en œuvre
                    difficile, car déclinée dans un plan d’action prioritaire (PAP) sur l’ensemble des secteurs. Or, si
                    tous les secteurs deviennent prioritaires, quid des effets de leviers entre les actions ? Il en
                    résulte naturellement des actions/objectifs désarticulés par rapport à la vision, d’où les bases
                    d’un échec certain.



                    La vision :

                    « Le Sénégal, Un havre de Santé et de bien-être pour le Sénégalais et l’Afrique »

                    Aucun Sénégalais ne quittera son pays pour des problèmes de santé et/ou pour réaliser son bien-être
                    et assurer son épanouissement

                    Les Sénégalais sont épanouis collectivement et individuellement

                    Le Sénégal est leader africain de la santé



                    ACTUALITÉ

                    Présidentielles 2024
                    <br><br>
                    <hr> <iframe width="100%" height="1000rem" src="assets/pdf/MA VISION POUYE 2024 .pdf"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->