 <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>POSER UNE QUESTION OU FAIRE UNE SUGGESTION</h2>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        
        <!-- Volunteer Start -->
        <div class="container">
            <div class="volunteer" data-parallax="scroll" data-image-src="img/volunteer.jpg">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="volunteer-form">
                            <form>


                                <div class="control-group">
                                    <input type="text" class="form-control" placeholder="Prénom  et nom complet " required="required" />
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" placeholder="Votre email" required="required" />
                                </div>
                                <div class="control-group">
                                    <input type="text" class="form-control" placeholder="Object" required="required" />
                                </div>
                                
                                <div class="control-group">
                                    <textarea class="form-control" placeholder="Votre message" required="required"></textarea>
                                </div>
                                <br>
                                <p>
                                    En utilisant ce formulaire, j’accepte la politique de confidentialité du Mouvement Sopp Sénégal et la réception occasionnelle de mails importants. Mes données personnelles ne seront jamais transférées à des tiers.
                                </p>
                                <br>
                                <div>
                                    <button class="btn btn-custom" type="submit">Envoyer</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Volunteer End -->      