<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>NOTRE VISION</h2>
            </div>

        </div>
    </div>
</div>
<!-- Page Header End -->




<!-- About Start -->
<div class="about">
    <div class="ml-5 mr-5">
        <div class="row align-items-center">

            <div class="col-lg-12">
                <h3 class="mb-2">COMMENT Daby POUYE COMPTE FAIRE POUR UN SÉNÉGAL NOUVEAU DANS UNE AFRIQUE FORTE ?</h3>
                <p class="mb-5">La construction d’un autre Sénégal passe par un projet d’avenir porté par des hommes et
                    des femmes au service d’un développement harmonieux et pérenne prenant en compte tous les éléments
                    de l’écosystème.
                    Un autre Sénégal ne peut se concevoir sans son intégration dans une autre Afrique.
                    Ensemble, il s’agit de construire notre destin.
                    Alors soyons tous acteurs en contribuant à la construction de cet autre Sénégal avec des hommes et
                    des femmes au service du pays.</p>
                <div class="about-tab">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#vision">Vision</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#mission">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#programme">Programme</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " data-toggle="pill" href="#renforcement">Renforcement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#decentralisation">Décentralisation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#controle">Contrôle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#citoyen">Citoyen</a>
                        </li>
                    </ul>

                    <br>
                    <br>

                    <div class="tab-content">
                        <div id="vision" class="tab-pane active">
                            Le Sénégal, un havre de santé et de bien-être pour
                            le Sénégalais et l’Afrique
                            La vision plan Sénégal émergent 2035 s’inscrit dans une compartimentation des secteurs qui
                            sont appréhendés de façon autonome. Or si tous les secteurs sont prioritaires, quid des
                            effets de levier entre les actions ? Il s’en suit des actions/objectifs désarticulés
                            par rapport à la vision d’où les bases d’un échec certain.
                            Il est important de se départir du plan Sénégal émergent qui s’inscrit dans une vision
                            sectorielle pour passer à une vision globale partagée.
                        </div>
                        <div id="mission" class=" tab-pane fade">
                            Assurer la santé et le bien-être des Sénégalais par la puissance des technologies et
                            l’innovation. Il s’agit de mettre en place les conditions permettant de conforter l’image
                            d’un Sénégal ayant l’une des meilleures médecines africaines et positionner notre pays comme
                            le pays dans lequel on trouvera l’une des meilleures structures hospitalières du monde.
                        </div>
                        <div id="programme" class="tab-pane fade">
                            Une réalisation progressive et cohérente au service de la vision avec un calendrier
                            programmatique à trois temps : <br>
                            • Garantir les bases du développement humain pour tous (2034) <br>
                            • Maintenir les conditions du bien être par la technologie (2044) <br>
                            • Diversifier les bases de l’économie Sénégalaise en s’inscrivant <br>
                            dans une logique d’excellence continue pour assurer le bien- être des populations du Sénégal
                            et de l’Afrique (2054) Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed
                            condimentum semper turpis vel facilisis. Nunc vel faucibus orci. Mauris ut mauris rhoncus,
                            efficitur nisi at, venenatis quam. Praesent egestas pretium enim sit amet finibus. Curabitur
                            at erat molestie, tincidunt lorem eget, consequat ligula.
                        </div>
                        <div id="renforcement" class="tab-pane fade">
                            La création ex nihilo d’États africains par des organisations internationales désireuses de
                            créer des relais pour garantir leurs intérêts en Afrique, en laissant de côté quatre-vingts
                            à quatre-vingt-dix pour cent (80 à 90%) de la population africaine, et en pensant que cette
                            greffe pouvait prendre, en dépit du bon sens explique grandement la faiblesse de nos
                            institutions. Il s’agit aujourd’hui de renforcer le pouvoir central et sa légitimité avec un
                            plus grand contrôle de sa politique économique, sociétale et écologique.
                        </div>
                        <div id="decentralisation" class="tab-pane fade">
                            Dans la continuité du renforcement du pouvoir central indispensable à la
                            crédibilisation et à la stabilisation de nos institutions, il est urgent de façon cohérente
                            de mettre en place une véritable politique à la fois de déconcentration et de
                            décentralisation prenant en compte la nécessité d’une gestion de proximité indispensable à
                            un développement harmonieux de nos territoires. Il s’agit, sans affaiblir le pouvoir
                            central, de développer et de renforcer l’autonomie du local, d’assurer la proximité et de
                            favoriser la participation et la libération des « capacités ».
                        </div>

                        <div id="controle" class="tab-pane fade">
                            Le greffage d’institutions européennes en Afrique durant la création de nos États-nation
                            s’est effectué sans aucune prise en compte de l’intérêt de la majorité des citoyens. Aussi,
                            nos représentants ont plus œuvré dans l’intérêt de puissances étrangères. Cette situation a
                            renforcé le doute légitime de nos concitoyens en la capacité de ces derniers à exécuter et
                            porter un projet commun. L’absence d’un État impartial représentant l’ensemble du territoire
                            sénégalais a fait perdurer l’inexistence d’une vision commune et d’un projet commun
                            transcendant les individualités et les intérêts de chacun. Il s’agit aujourd’hui de
                            renforcer l’engagement individuel dans la construction d’un Sénégal nouveau et faire en
                            sorte que la vie de chaque sénégalais compte tout autant que celle de n’importe quel autre.
                            Créer une véritable citoyenneté fondée sur la détention de droits et de devoirs.
                        </div>

                        <div id="citoyen" class="tab-pane fade">
                            Pour que la vie de chaque sénégalais compte tout autant que celle des autres
                        </div>
                    </div>
                    <hr> <iframe width="100%" height="1000rem" src="assets/pdf/MA VISION POUYE 2024 .pdf"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->